@media screen and (min-width:300px) and (max-width: 390px) {
    .category_phim_card_itemdanhmuc{
        width: 46% !important;
        border-radius: 5px;
      
    }  

}

@media screen and (min-width:400px) and (max-width: 576px) {
    .category_phim_card_itemdanhmuc{
        width: 46% !important;
        border-radius: 5px;
    }  
}

@media screen and (min-width:576px) and (max-width: 900px) {
    .category_phim_card_itemdanhmuc{
        width: 30% !important;
        border-radius: 5px;
    }  
}

@media screen and (min-width:1200px){
    .category_phim_card_itemdanhmuc{
        width: 20% !important;
        border-radius: 5px;
      
    }  
}

.category_phim_card_itemdanhmuc:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease-in-out;
}
.loading-placeholder {
    background: #f0f0f0;
    animation: pulse 1.5s infinite;
  }
  
  .loaded {
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  @keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 0.8; }
    100% { opacity: 0.6; }
  }