.filterfilm_categories {
    .category_phim_card_itemdanhmuc {
        margin-top: 1rem;
    }
    p.description-badge {
        width: 89%!important;
        border-radius: 0!important;
        margin-top: 1rem;
    }
}